<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="img/logos/sodium-logo.png" class="img-responsive img-centered" alt="">
                    <h2 class="section-heading">Services</h2>

                    <h4>Sodium provides high level supply chain and accounting expertise to clients operating:</h4>
                    <h4 class="service-heading">Microsoft Dynamics 365 for Finance and Operations</h4>
                    <h4 class="service-heading">Microsoft Dynamics 365 Supply Chain Management</h4>
                    <h4 class="service-heading">Microsoft Dynamics 365 Finance</h4>
                    
                    <h3 class="section-subheading text-muted">Sodium principal consultants are business optimisation experts with a proven Microsoft Dynamics 365 experience with wholesalers, manufacturers, and retailers. Our clients only ever deal face to face with our principal consultants. We are not an agency, we have no “B team” and we are not sellers of software.</h3>
                    <h3 class="section-subheading text-muted">Sodium improves your overall business performances through Microsoft Dynamics strategy, solution design, solution configuration, integration, and reengineering of business processes</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Benchmarking</h4>
                    <p class="text-muted">Sodium identify operational and system utilisation gaps through industry benchmarking.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solution design</h4>
                    <p class="text-muted">Sodium design Microsoft Dynamics solutions to overcome operational gaps and to best align your ERP platform with business requirements.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Implementation</h4>
                    <p class="text-muted">Sodium agile project management methodology allows businesses with an ongoing review of deliverables whilst without compromising of project parameters.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology and Microsoft Dynamics 365 expertise</h4>
                    <p class="text-muted">Sodium leverage the latest technology to configure, integrate and align your Microsoft Dynamics solution.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business and operational expertise</h4>
                    <p class="text-muted">Sodium streamlines your planning, forecasting, supply chain, warehouse, and production flows. Sodium provides high level Business Process Reengineering expertise in S&OP, ERP alignment and consumer response processes.</p>
                </div>
            </div>
        </div>
    </section>